* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #999;
}

body {
    font-size: 12px;
    background-color: #f4f4f4;
}

.nav {
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.nav .content {
    position: relative;
    width: 1190px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}

.nav .content .navleft {}

.nav .content .navRight {
    /* float: right; */
    position: absolute;
    right: 0;
}

.nav .content .navRight li {
    float: left;
    position: relative;
}

.nav .content .navRight li a:hover {
    color: #e33333;
}

.nav .content .navRight li:hover .dt {
    background-color: white;
    border-color: #ccc;
    border-bottom-color: white;
    position: relative;
    z-index: 102;
}

.nav .content .navRight li .dt {
    padding: 0 7px;
    border: 1px solid transparent;
}

.nav .content .navRight li .dt .dropDown {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(./img/下拉.png);
    background-size: cover;
    background-position: center center;
}

.nav .content .navRight .line {
    float: left;
    width: 1px;
    height: 10px;
    background-color: #999;
    margin: 11px 5px 0px;
}


/* .nav .content .navRight .dropDownWrapper {
    position: absolute;
    border: 1px solid #ccc;
    border-top-color: transparent;
    width: 280px;
    top: 29px;
    background-color: white;
    display: none;
}

.nav .content .navRight li:hover .dropDownWrapper {
    display: block;
} */


/* .nav .content .navRight .dropDownWrapper dl {
    width: 100%;

    overflow: hidden;
    padding: 10px 0px 10px 15px;
    box-sizing: border-box;
} */


/* .nav .content .navRight .dropDownWrapper dl:nth-of-type(2) {
    border-top: 1px solid #f1f1f1;
} */


/* .nav .content .navRight .dropDownWrapper dl dd {
    float: left;
    width: 130px;
} */